.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5; /* Couleur de fond */
  }
  
  /* Styles pour l'en-tête du calendrier */
  .calendar-header {
    background-color: #4caf50; /* Couleur de l'en-tête */
    color: #fff; /* Couleur du texte */
    padding: 20px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid #388e3c; /* Bordure inférieure */
    border-radius: 10px 10px 0 0; /* Coins arrondis en haut */
  }
  
  /* Styles pour le wrapper du calendrier */
  .calendar-wrapper {
    width: 90%;
    max-width: 800px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(67, 15, 15, 0.1);
    overflow: hidden;
    background-color: #fff; /* Couleur de fond */
  }
  
  /* Styles pour le calendrier lui-même */
  .calendar-wrapper .rbc-calendar {
    border-radius: 10px;
  }
  
  /* Styles pour les popups d'événements */
  .rbc-overlay {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .rbc-overlay-header {
    background-color: #4caf50; /* Couleur de l'en-tête de popup */
    color: #fff; /* Couleur du texte de l'en-tête de popup */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .rbc-overlay-content {
    padding: 10px;
  }
  
  /* Animation pour l'en-tête du calendrier */
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .calendar-header {
    animation: fadeInDown 0.5s ease-in-out;
  }
  .custom-event-class {
    background-color: rosybrown; /* Couleur de fond des événements */
    border: 1px solid #00ff26; /* Bordure des événements */
    border-radius: 4px; /* Coins arrondis des événements */
    color: #060000; /* Couleur du texte des événements */
  }